<div class="card">
  <img class="card-img-top" src="assets/image/aguacate.jpg" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">{{name}}</h5>
    <p>Precio <b>{{price}}</b>$</p>
    <p><b>{{unid}}</b> Unidades disponibles</p>
    <div class="row">
      <div class="col-4">
        <button type="button" class="btn btn-primary">Ver más</button>
      </div>
      <div class="col text-right">
        <button type="button" class="btn btn-warning">Añadir</button>
        <input type="number" class="form-control" value="0" min="0" max="999" style="width:60px;display:inline;">
      </div>
    </div>
  </div>
</div>