<div>
  <br />
  <br />
  <section class="card">
    <div class="card-body">
      <div class="row">
        <article class="col">
          <h4>Carrito de compras</h4>
        </article>
      </div>
      <hr />
      <div class="row">
        <article class="col-6">
           <cart-item></cart-item>
        </article>
        <article class="col-6">
          <h4>Total:$
            <b>00</b>
          </h4>
          <button class="btn btn-default">Cancelar</button>
          -
          <button class="btn btn-default">Pagar</button>
        </article>
      </div>
    </div>
  </section>
</div>