 body{
    background-image: url('assets/image/main-fondo.jpg');
    background-position: center center;
    background-attachment: fixed;
    background-repeat: repeat;
    background-size: cover;
}
body.logout{
    background-image: url('assets/image/login-fondo.jpg');
    background-position: center center;
    background-attachment: fixed;
    background-repeat: repeat;
    background-size: cover;
}